// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.one-half-col {
  width: 100%;
}

@media screen and (min-width: $on-medium) {
  .one-half-left {
    padding-right:20px;
  }

  .one-half-col {
    float: left;
    width: -webkit-calc(50% - 10px);
    width:         calc(50% - 10px);
  }
}

