---
layout: default
---

<div class="home">

  {{ content }}

  <h2 class="post-list-heading">Recent Funnies</h2>

  {%- if site.categories.size > 0 -%}
    {% for category in site.categories %}
      <div class="one-half-col" {% if forloop.first %}style="padding-right:16px;"{% else %}style=""{% endif %}>
        <table>
          <tr><th>{{ category[0] }}</th></tr>
          <tr>
            <td>
              <ul>
                {% for post in category[1] limit:2 %}
                  <li>
                    <!-- 날짜 표시를 깔끔하게 할 필요가 있음 -->
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span class="post-meta">{{ post.date | date: date_format }}</span>

                    <!-- 날짜와 타이틀을 깔끔하게 구분하는 디자인 필요 -->
                    <!-- 긴 타이틀의 경우 잘라서 보여주는 기능이 필요 -->
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>

                    <!-- 내용을 살짝 보여주는 기능이 필요할까? -->
                    {%- if site.show_excerpts -%}
                      {{ post.excerpt }}
                    {%- endif -%}
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        </table>
      </div>
    {% endfor %}
  {%- endif -%}

  <!-- <h2 class="post-list-heading">Top 50 Comments</h2>
  {%- if site.posts.size > 0 -%}
    <ul>
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
  <p class="feed-subscribe">
    <a href="{{ 'feed.xml' | relative_url }}">
      <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
    </a>
  </p>
  {%- endif -%} -->


</div>
